.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
}
.card:hover img {
    transform: scale(1.4, 1.4);
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
    opacity: 60%;
}
.card-img-wrapper {
    /* to powoduje ze obrazek nie wychodzi poza jego granice */
    overflow: hidden;
    position: relative;
}
.user-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    opacity: 0;
}
.card-img-wrapper:hover .user-icons {
    bottom: -10%;
    opacity: 70%;
}
.animate {
    transition: all 700ms ease-in-out;
}

